.idea/
*.
*.pyc
*.
.classpath
.java-version
.project
starterpacks/java/.settings
starterpacks/java/target
*.zip
starterpacks/javascript/node_modules
starterpacks/typescript/node_modules
starterpacks/typescript/dist
.DS_Store
starterpacks/csharp/bin
starterpacks/csharp/bot
starterpacks/csharp/obj
.mypy_cache
.test_reports
